@import 'vars';

html {
  height: 100%;
}

body {
  background-color: $white;
  color: $black;
}

.main-navigation {
  background-color: $black;
  border-bottom: 1px solid $red;
}

// Menu.
.main-navigation {
  li {
    a {
      color: $lightGrey;
      &.active {
        color: $white;
      }
    }
  }
}

// Package listing.
.drush-package-version,
.drush-package-search-result {
  border: 1px solid $lightGrey;
  padding: 10px;
  margin: 20px 0;

  summary {
    @include heading(1.6rem);
    margin: 0;

    &:focus {
      outline: none;
      color: $red;
    }
  }

  pre {
    background-color: $lightGrey;
    font-family: "courier new", courier, monospace;
    padding: 5px;
    margin: 10px 0;
  }
}

// Tabs.
ul.tabs {
  border-bottom: 1px solid $red;
  li {
    display: inline-block;
    margin: 5px 5px 0;

    a {
      display: inline-block;
      border: 1px solid $red;
      border-bottom: none;
      padding: 5px 10px;
      border-radius: 0 10px 0 0;

      &:hover,
      &:focus {
        background-color: $red;
        color: $white;
        text-decoration: none;
      }
    }

    &.active a {
      background-color: $red;
      color: $white;
      text-decoration: none;
    }
  }
}

// Autocomplete
ul.ui-menu {
  border: 0;
  border-radius: 0;
  padding: 0;
  display: block !important;

  li.ui-item,
  li.ui-item:hover,
  li {
    border: 0;
    background-color: inherit;

    a,
    a.ui-state-focus {
      border-color: transparent;
      border: none;
      background: $white !important;
      margin: 0 !important;
      div {
        color: black;
        background: $white;
      }
    }

    a.ui-state-focus {
      .drush-package-search-result {
        border-color: $red;
      }
    }

    a a,
    a:hover a,
    a.ui-state-focus a {
      color: $red;
      text-decoration: underline;
    }
  }
}
