@import "_vars";

// Typo.
@mixin heading($font-size: 1em) {
  font-size: $font-size;
  font-family: helvetica, arial, sans-serif;
  line-height: 1;
  margin-bottom: 10px;
  font-weight: normal;
  text-shadow: 1px 1px 1px rgba($black, 0.5);
}

.site-name {
  @include heading(3rem);
  margin: 0 0 0 40px;
  display: inline-block;
}

h1 {
  @include heading(2.4rem);
  border-bottom: 1px solid $lightGrey;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

h2 {
  @include heading(2rem);
}

h3 {
  @include heading(1.6rem);
}

a {
  text-decoration: none;
  color: $red;

  &:hover {
    text-decoration: underline;
  }
}

p {
  margin-bottom: 10px;
}