@import 'vars';

html {
  height: 100%;
}

body {
  background-color: $lightGrey;
  color: $black;
}

.main-content {
  background-color: $white;
}

.info {
  background-color: $white;
}

.main-navigation {
  background-color: $black;
  border-bottom: 1px solid $red;
}

// Menu.
.main-navigation {
  li {
    a {
      color: $lightGrey;
      &.active {
        color: $white;
      }
    }
  }
}

// Package listing.
.drush-package-version,
.drush-package-search-result {
  border: 1px solid $lightGrey;
  padding: 10px;
  margin: 20px 0;

  pre {
    background-color: $lightGrey;
    font-family: "courier new", courier, monospace;
    padding: 5px;
    margin: 10px 0;
  }
}
