@import "vars";
@import "compass/css3/box-sizing";

form {
  margin: 10px 0;

  input,
  textarea {
    @include box-sizing(border-box);
  }
}

button,
input[type="submit"],
input[type="button"],
textarea {
  -webkit-appearance: none;
  display: inline-block;
  border: none;
  background-color: $lightGrey;
  color: $black;
  padding: 5px 10px;
  cursor: pointer;
  text-transform: uppercase;
  margin: 0;
  border: 2px solid $lightGrey;

  &:hover {
    border-color: $black;
  }

  &:focus {
    border-color: $black;
    outline: none;
  }
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="phone"],
input[type="number"] {
  border: 2px solid $lightGrey;
  padding: 5px 10px;

  &:focus {
    border-color: $black;
    outline: none;
  }
}

.drackage-search-form {
  label {
    display: none;
  }

  .form-text {
    width: 100%;
    font-size: 2rem;
  }

  .form-submit {
    display: none;
  }
}
