@import "vars";

form {
  margin: 10px 0;
}

button,
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  display: inline-block;
  border: none;
  background-color: $lightGrey;
  color: $black;
  padding: 5px 10px;
  cursor: pointer;
  text-transform: uppercase;
  margin: 0;
  border: 2px solid $lightGrey;

  &:hover {
    box-shadow: 1px 1px 2px $black;
  }

  &:focus {
    box-shadow: 1px 1px 2px $black;
    outline: none;
  }
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="phone"],
input[type="number"] {
  border: 2px solid $lightGrey;
  padding: 5px 10px;

  &:focus {
    box-shadow: 1px 1px 2px $black;
    outline: none;
  }
}
