{#
/**
 * @file
 * Show information about a Drush package.
 */
#}
<div class="drush-package">
  <h2>{{ name }}</h2>
  {{ links }}
  <p>{{ description }}</p>
  <h3>Versions</h3>
  {{ versions }}
</div>
