{#
/**
 * @file
 * Template for package search result.
 */
#}
<div class="drush-package-search-result">
  <h3>{{ name }}</h3>
  <p>{{ description }}</p>
  {% trans %}Downloads: {% endtrans %}{{ downloads }}
</div>
