{#
/**
 * @file
 * Show information about a Drush package version.
 */
#}
<div class="drush-package-version">
  <h2>{{ version }}</h2>
  <time>{{ time }}</time>
  <pre>{{ install_command }}</pre>
</div>
