form { margin: 10px 0; }
form input, form textarea { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

button, input[type="submit"], input[type="button"], textarea { -webkit-appearance: none; display: inline-block; border: none; background-color: #f2f2f2; color: #404040; padding: 5px 10px; cursor: pointer; text-transform: uppercase; margin: 0; border: 2px solid #f2f2f2; }
button:hover, input[type="submit"]:hover, input[type="button"]:hover, textarea:hover { border-color: #404040; }
button:focus, input[type="submit"]:focus, input[type="button"]:focus, textarea:focus { border-color: #404040; outline: none; }

input[type="text"], input[type="password"], input[type="email"], input[type="phone"], input[type="number"] { border: 2px solid #f2f2f2; padding: 5px 10px; }
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="phone"]:focus, input[type="number"]:focus { border-color: #404040; outline: none; }

.drackage-search-form label { display: none; }
.drackage-search-form .form-text { width: 100%; font-size: 2rem; }
.drackage-search-form .form-submit { display: none; }
