.site-name { font-size: 3rem; font-family: helvetica, arial, sans-serif; line-height: 1; margin-bottom: 10px; font-weight: normal; text-shadow: 1px 1px 1px rgba(64, 64, 64, 0.5); margin: 0 0 0 40px; display: inline-block; }

h1 { font-size: 2.4rem; font-family: helvetica, arial, sans-serif; line-height: 1; margin-bottom: 10px; font-weight: normal; text-shadow: 1px 1px 1px rgba(64, 64, 64, 0.5); border-bottom: 1px solid #e6e6e6; margin-bottom: 10px; padding-bottom: 10px; }

h2 { font-size: 2rem; font-family: helvetica, arial, sans-serif; line-height: 1; margin-bottom: 10px; font-weight: normal; text-shadow: 1px 1px 1px rgba(64, 64, 64, 0.5); }

h3 { font-size: 1.6rem; font-family: helvetica, arial, sans-serif; line-height: 1; margin-bottom: 10px; font-weight: normal; text-shadow: 1px 1px 1px rgba(64, 64, 64, 0.5); }

a { text-decoration: none; color: #d03535; }
a:hover { text-decoration: underline; }

p { margin-bottom: 10px; }
