html { height: 100%; }

body { background-color: #f2f2f2; color: #404040; }

.main-content { background-color: white; }

.info { background-color: white; }

.main-navigation { background-color: #404040; border-bottom: 1px solid #d03535; }

.main-navigation li a { color: #f2f2f2; }
.main-navigation li a.active { color: white; }

.drush-package-version { border: 1px solid #f2f2f2; padding: 10px; margin: 20px 0; }
.drush-package-version pre { background-color: #f2f2f2; font-family: "courier new", courier, monospace; padding: 5px; margin: 10px 0; }
